<div class="about text-white text-center d-flex py-5 flex-column justify-content-center">
  <div class="container my-5 justify-content-center">
    <h1 class="py-2 mt-5">ABOUT COMPONENT</h1>
    <div class="line-with-star">
      <span class="line"></span>
      <i class="fa fa-star"></i>
      <span class="line"></span>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
    <p>
      Freelancer is a free bootstrap theme created by Route. The download
      includes the complete source files including HTML, CSS, and JavaScript as
      well as optional SASS stylesheets for easy customization.
    </p>
  </div>
  <div class="col-lg-6 col-md-12">

    <p>
      Freelancer is a free bootstrap theme created by Route. The download
      includes the complete source files including HTML, CSS, and JavaScript as
      well as optional SASS stylesheets for easy customization.
    </p>
  </div>
    </div>
  </div>
</div>
